{
    "backend": {
        "api": {
            "websocket": {
                "url": "ws://nodered.home/ws/doormon"
            }
        }
    },
    "locale": {
        "lang": "de",
        "timezone": "Europe/Berlin"
    },
    "layout": {
        "background": {
            "rotationInterval": 60
        },
        "backgrounds": [
            "/assets/background/IMG_20210124_135941-0.jpg",
            "/assets/background/IMG_20210124_135941-1.jpg",
            "/assets/background/IMG_20210124_135941-3.jpg"
        ]
    },
    "cctv": {
        "cameras": [{
            "id": "front_door_1",
            "streams": [{
                "url": "http://"
            }]
        }]
    },
    "weather": {
        "openWeather": {
            "apiKey": "___YOUR_KEY___"
        }
    }
}